/* Link to the font */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Début de la partie Définition de classe / Balise */
:root {
    --font-color: #ffffff;
    --font-color-hover: #676f9d;
    --primary-color: #2d3250;
    --second-color: #424769;
    --feature-color: #f9cf77;
    --second-feature-color: #f9d077cc;
}

*,
body,
html {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    color: var(--font-color);
}

body {
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Times New Roman", serif;
}

.b-feature-color {
    color: var(--feature-color);
}

.justify-align {
    justify-content: center;
    align-items: center;
}

.width-33 {
    width: 33.33333333%;
}

.width-66 {
    width: 66.66666667%;
}

/* Fin de la partie Définition de classe / Balise */

/* Début de la mise en forme Navbar */
#menu,
header label {
    display: none;
}

#sidebarNav {
    display: flex;
    position: relative;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition .8s .8s ease-out forwards;
    margin-top: 15px;
    z-index: 1000;
}

#sidebarNav>ul {
    display: flex;
    padding: 25px;
    font-size: 18px;
    gap: 50px;
    border-bottom: 1px solid var(--font-color-hover)
}

#sidebarNav>ul>li>a:hover,
#blog:hover {
    color: var(--feature-color);
}

#blog {
    position: relative;
}

#blog i {
    font-size: 0.7rem;
    margin-left: 3px;
}

#blog>#dropdown-menu {
    position: absolute;
    left: -2.5rem;
    display: none;
    min-width: 8rem;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    color: var(--font-color);
    text-align: left;
    list-style: none;
    background-color: var(--font-color-hover);
    background-clip: padding-box;
    border: 1px solid var(--second-color);
    border-radius: 4px;
}

#blog:hover>#dropdown-menu {
    display: block;
}

#blog:hover>#dropdown-menu>.dropdown-item {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: var(--font-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
}

#blog>#dropdown-menu>.dropdown-item>a{
    display: block;
    width: 100%;
}

#blog:hover>#dropdown-menu>.dropdown-item:focus,
#blog:hover>#dropdown-menu>.dropdown-item:hover {
    background-color: var(--second-color)
}

/* Fin de la mise en forme Navbar */

/* Début mise en forme Global */
#container {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto
}

#container #banniere {
    display: inline-block;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.375rem;
    width: 100%;
    margin: 1.5rem 0 1.5rem 0 !important;
    animation: apparition 0.8s 0.2s ease-out forwards;
}

#container #banniere div {
    flex: 0 0 auto;
    width: 50%;
    padding: 3rem;
}

#container #banniere div h2 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
    font-style: italic;
    color: var(--feature-color);
}

#container #banniere div p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#container #disposition {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin: 3.5rem 0 3.5rem 0;
}

/* Fin de la mise en forme Global */

/* Début mise en forme globale (Main) */
#main-classique,
#main-accueil,
#main-form,
#main-blog {
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex: 0 0 auto;
    opacity: 0;
    transform: translatex(-30px);
    animation: apparition 0.8s 0.4s ease-out forwards;
}

#main-classique h2,
#main-accueil h2,
#main-form h2 {
    font-size: calc(1.325rem + .9vw);
    font-style: italic;
    font-weight: 300;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--font-color-hover)
}

#main-classique>#informations>p,
#main-classique>section>p,
#main-classique>#article-section-personnage>.article-div-personnage>p {
    font-size: 1.25rem;
    text-align: justify;
}

/* Fin mise en forme globale (Main) */

/* Début mise en forme Aside */
aside {
    height: 100%;
    position: sticky !important;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.2rem;
    opacity: 0;
    transform: translateX(30px);
    animation: apparition 0.8s 0.6s ease-out forwards;
}

aside>#aside-infos-oeuvre{
    margin-bottom: 1.125rem;
    width: 100%;
    border: 1px solid var(--font-color-hover);
}

aside>#aside-infos-oeuvre>section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

aside>#aside-infos-oeuvre>section>.aside-infos-title{
    display: flex;
    background-color: var(--font-color-hover);
    justify-content: center;
    text-align: center;
    padding: 20px 0 20px 0;
    width: 100%;
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.625rem;
    font-style: italic;
}

aside>#aside-infos-oeuvre>section>img{
    object-fit: cover;
    margin: auto;
}

aside>#aside-infos-oeuvre>section>div{
    display: flex;
    padding: 0 20px 15px 20px;
}

aside>#aside-infos-oeuvre>section>div>.aside-categories-part,
aside>#aside-infos-oeuvre>section>div>.aside-infos-part{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9rem;
}
aside>#aside-infos-oeuvre>section>div>.aside-categories-part>li{
    font-weight: 700;
}

aside>h2 {
    font-size: calc(1.325rem + .9vw);
    font-style: italic;
    font-weight: 300;
    padding-bottom: 1.5rem;
    align-self: flex-end;
}

aside>ul>li>a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--font-color-hover);
}

aside>ul>li>a>img,
aside>ul>li>a>div {
    width: 50%;
}

aside>ul>li>a:hover>div>p,
aside>ul>li>a:hover>div>small {
    color: var(--feature-color);
}

aside>ul>li>a>img {
    object-fit: cover;
    height: 96px;
}

/* Fin mise en forme Aside */

/* Début mise en forme Main-Classique */
#main-classique>section>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#main-classique>#informations,
#main-classique>section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

#main-classique>#article-section-personnage>.article-div-personnage{
    display: block;
}

#main-classique>#article-section-personnage>.article-div-personnage>p:nth-of-type(1){
    margin-bottom: 1.25rem;
}

#main-classique>#article-section-personnage>.article-div-personnage>img{
    width: 170px;
    height: 170px;
    border-radius: 1.25rem;
    float: left;
    object-fit: cover;
    margin-right: 25px;
}

#main-classique>section>.section-jojo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#main-classique>section>.section-jojo>p{
    margin-top: 10px;
    font-size: 1.25rem;
    text-align: justify;
}

#main-classique>section>.section-jojo>h3{
    font-size: 1.75rem;
    font-style: italic;
    padding-bottom: .5rem;
    width: fit-content;
    border-bottom: 1px solid var(--font-color-hover);
    color: var(--font-color-hover);
    font-weight: 900;
}

#main-classique>section>ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-classique>section>ul>li:nth-child(1) {
    display: flex;
    gap: 0px;
    font-size: 1.25rem;
    list-style: none !important;
}

#main-classique>section>ul>li {
    list-style: disc inside;
}

#main-classique>section>.reference {
    margin-bottom: 1.25rem;
}

#main-classique>section>.reference>img {
    height: 500px;
    object-fit: cover;
    object-position: top;
}

#main-classique>section>.reference>.legende {
    text-align: center;
}

#main-classique>blockquote {
    background-color: var(--second-color);
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--second-color);
    border-radius: 0.5rem;
    padding: 1.25rem;
}

#main-classique>blockquote>div {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#main-classique>blockquote>div>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
#main-classique>blockquote>div>div>cite{
    font-size: 1rem;
    text-align: justify;
}
#main-classique>blockquote>div>img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: top;
    border: 1px solid transparent;
    border-radius: 1.25rem;
}

#main-classique>section>table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--font-color-hover);
}

#main-classique>section>table>thead {
    background-color: var(--font-color-hover);
}

#main-classique>section>table>thead>tr>th:nth-child(1),
#main-classique>section>table>thead>tr>th:nth-child(5) {
    width: 10%;
}

#main-classique>section>table>thead>tr>th:nth-child(2) {
    width: 30%;
}

#main-classique>section>table>thead>tr>th:nth-child(3),
#main-classique>section>table>thead>tr>th:nth-child(4) {
    width: 25%;
}

#main-classique>section>table>thead>tr>th,
#main-classique>section>table>tbody>tr>td {
    padding: 1.5rem;
    text-align: center;
    border: 1px solid var(--font-color-hover);
}

#main-classique>section>div>video,
#main-classique>section>div>video[poster],
#main-classique>section>div>video>source {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border: 1px solid transparent;
    border-radius: .5rem;
}

/* Fin mise en forme Main-Classique */

/* Début de la mise en forme Footer */
footer {
    background-color: var(--second-color);
    color: var(--font-color);
    box-shadow: 0px -9px 30px -10px rgba(0, 0, 0, 0.75);
    margin: 1.5rem auto 0 auto;
}

footer>#footer-container {
    width: 1320px;
    margin: auto;
    padding: 50px 0 35px 0;
}

footer>#footer-container>#upper-footer-part {
    display: flex;
    margin-bottom: 3.5rem;
}

footer>#footer-container>#upper-footer-part>nav {
    display: flex;
    flex-direction: column;
    width: 25%;
}

footer>#footer-container>#upper-footer-part>nav>h2 {
    font-size: 28px;
    display: flex;
    margin-bottom: 20px;
}

footer>#footer-container>#upper-footer-part>nav>ul {
    display: flex;
    flex-direction: column;
}

footer>#footer-container>#upper-footer-part>nav>ul>li {
    font-size: 1.25rem;
}

footer>#footer-container>#upper-footer-part>nav>ul>.link {
    border: 1px solid var(--feature-color);
    padding: 10px;
    border-radius: 25px;
    margin-top: 20px;
    align-self: self-start;
}

footer>#footer-container>#upper-footer-part>nav>ul>.link>a {
    color: var(--feature-color);
}

footer>#footer-container>#upper-footer-part>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 65%;
    height: 100%;
}

footer>#footer-container>#upper-footer-part>div>div {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

footer>#footer-container>#upper-footer-part>div>h2 {
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

footer>#footer-container>#upper-footer-part>div>div>article {
    height: 180px;
    width: 33.3333%;
}

footer>#footer-container>#upper-footer-part>div>div>article>a>img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 25px;
}

footer>#footer-container>#upper-footer-part>div>div>article>a>h3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: inherit;
}

footer>#footer-container>#lower-footer-part {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--font-color-hover);
    padding-top: 2rem;
    align-items: center;
}

footer>#footer-container>#lower-footer-part>ul {
    display: flex;
    gap: 25px;
}

footer>#footer-container>#lower-footer-part>ul>li>a {
    font-size: 1.7rem;
}

footer>#footer-container>#lower-footer-part>ul>li>a>i {
    color: var(--font-color) !important;
    transition: all 0.2s ease-in-out;
}

footer>#footer-container>#lower-footer-part>ul>li>a>i:hover {
    color: var(--feature-color) !important;
}

/* Fin de la mise en forme Footer */

/* Début Mise en forme Main-Accueil */

#main-accueil>section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

#main-accueil>section:nth-child(2n) {
    flex-direction: row-reverse;
}

#main-accueil>section>div{
    width: 50%;
}

#main-accueil>section>div>p{
    text-align: justify;
    font-size: 1.125rem;
}

#main-accueil>section>a{
    position: relative;
    width: 50%;
    height: 260px;
}

#main-accueil>section>a>img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    transition: all 0.3s ease-in-out;
}

#main-accueil>section>a>.overlay-article-text>p {
    color: var(--font-color);
    font-size: 1.75rem;
    line-height: 1.5em;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

#main-accueil>section>a:hover>img {
    filter: brightness(40%);
}

#main-accueil>section>a:hover>.overlay-article-text>p {
    opacity: 1;
}

#main-accueil>section>div>h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.3rem + .6vw);
}

/* Fin Mise en forme Main-Accueil */

/* Début Mise en for Main-Form */
#main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66.66666667%;
    height: 100%;
}

#main-form>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#main-form>form>h2 {
    align-self: flex-start;
    width: 100%;
    margin: 0;
}

#main-form>form>div {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

#main-form>form>div>#profil_sub_avatar {
    overflow: hidden;
    background-image: url("../img/avatar.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 100px;
    border-radius: 50%;
}

#main-form>form>div>#profil_sub_avatar>input {
    height: 100%;
    width: 100%;
    opacity: 0;
}

#main-form>form>#section_adresse_sub {
    gap: 0;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

#main-form>form>#section_adresse_sub>label,
#main-form>form>div>div>label {
    margin-bottom: 10px;
    font-size: 18px;
}

.form_section_choice,
.form_section_aside {
    width: 50%;
}

#main-form>form>div>.form_section_choice>div {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

#main-form>form>div>.form_section_choice>div>input{
    width: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.form_section_aside>input[type="color"] {
    width: 60%;
    overflow: hidden;
}

#main-form>form>#form_section_message {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0;
}

#main-form>form>#form_section_message>textarea {
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 0.5rem;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: fit-content;
    width: 100%;
}

.input-background {
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 0.5rem;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    height: calc(3.5rem + 2px);
    min-height: calc(3.5rem + 2px);
}

.input-background::placeholder {
    color: var(--font-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: var(--second-color) !important;
}

#main-form>form>div>div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#main-form>form>div>#form_contact_sexe>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

#main-form>form>div>#form_contact_sexe>div>input {
    display: flex;
    gap: 0;
    width: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

#div_btn_submit {
    display: inline-flex;
    height: 50px;
    width: 200px !important;
    margin-top: 25px;
    border: 1px solid var(--feature-color);
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#div_btn_submit button {
    color: var(--feature-color) !important;
    letter-spacing: 1px;
    position: relative;
    transition: all .45s ease-out;
    border: none;
    background: transparent;
    font-size: 16px;
}

#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: var(--feature-color);
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
}

#div_btn_submit:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 0.2;
    top: -70px;
    left: -70px;
}

/* Fin Mise en for Main-Form */

/* Début de la mise en forme Carousel */
#main-blog>.carousel-inner {
    display: flex;
    width: 1320px;
    height: 700px;
    margin: 3.5rem auto 3.5rem auto;
    overflow: hidden;
}

#main-blog>.carousel-inner>.carousel-item {
    width: 100%;
    height: 100%;
}

#main-blog>.carousel-inner>.carousel-item>img {
    border-radius: 1rem;
    height: 700px;
    width: 1320px;
    object-fit: cover;
    object-position: top;
    filter: brightness(45%);
    position: relative;
}

#main-blog>.carousel-inner>.carousel-item>.container {
    position: relative;
    top: -50%;
    right: -50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

#main-blog>.carousel-inner>.carousel-item>.container>h2 {
    font-size: calc(1.325rem + .9vw);
    margin-bottom: 1.5rem;
}

#main-blog>.carousel-inner>.carousel-item>.container>p {
    font-size: 1.25rem;
    text-align: justify;
}

/* Début de la mise en forme des boutons Carousel */
#main-blog>.carousel-inner>.carousel-item>.container>.btn-container {
    position: relative;
    display: inline-block;
    font-family: inherit;
    margin-top: 1.5rem;
}

#main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more {
    width: 12.3rem;
    height: auto;
}

#main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more>.circle {
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    background: var(--second-feature-color);
    border-radius: 1.625rem;
}

#main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more>.circle>.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
    font-size: 32px;
    position: relative;
    left: 7px;
    top: 7px;
}

#main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more>.button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
    position: absolute;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    padding: 0.90rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--font-color);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more:hover>.circle {
    width: 100%;
}

#main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more:hover>.circle>.arrow {
    transform: translate(0.8rem, 0);
}

#main-blog>.carousel-inner>.slide-button {
    position: absolute;
    top: 50%;
    height: 70px;
    width: 70px;
    color: var(--font-color);
    border: none;
    background: var(--second-color);
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

#main-blog>.carousel-inner>.slide-button>i{
    position: relative;
    font-size: 2.6rem;
}

#main-blog>.carousel-inner>.slide-button:hover {
    background: var(--font-color-hover);
}

#main-blog>.carousel-inner>.slide-button#prev-slide {
    left: 30px;
    display: none;
}

#main-blog>.carousel-inner>.slide-button#next-slide {
    right: 30px;
}

/* Fin de la mise en forme des boutons Carousel */
/* Fin de la mise en forme Carousel */

/* Début de la partie Bouton Scroll-To-Top */
#scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--feature-color);
    border: 1px solid transparent;
    filter: brightness(80%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

#scroll-top i {
    color: var(--font) !important;
}

#scroll-top:hover {
    border-color: var(--font-color);
    box-shadow: none;

}

/* Fin de la partie Bouton Scroll-To-Top */

/* Début de la partie Animations */
@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}

/* Fin de la partie Animations */

/* Début de la partie Responsive */

@media screen and (max-width: 1400px) {
    #container,
    footer>#footer-container{
        width: 90%;
    }

    #main-blog>.carousel-inner,
    #main-blog>.carousel-inner>.carousel-item>img{
        width: 1000px;
    }

    #main-blog>.carousel-inner>.carousel-item>.container{
        width: 65%;
    }
}

@media screen and (max-width: 1200px) {
    #disposition {
        flex-direction: column;
    }

    #main-accueil,
    #main-classique,
    #main-form,
    aside,
    aside>ul{
        width: 100% !important;
        height: auto;
        margin: auto;
    }
    
    #main-classique>section>table>thead>tr>th,
    #main-classique>section>table>tbody>tr>td {
        padding: 1.1rem;
        font-size: .9rem;
    }

    aside>h2{
        align-self: flex-start;
    }

    footer>#footer-container>#upper-footer-part>nav,
    footer>#footer-container>#upper-footer-part>div{
        width: 50%;
    }

    footer>#footer-container>#upper-footer-part>nav,
    footer>#footer-container>#upper-footer-part>nav>ul{
        justify-content: center;
        align-items: center;
    }

    footer>#footer-container>#upper-footer-part>nav>ul>.link{
        align-self: center;
    }

    footer>#footer-container>#upper-footer-part>div>div{
        flex-wrap: wrap;
    }

    footer>#footer-container>#upper-footer-part>div>div>article{
        width: 48%;
    }
}

@media screen and (max-width:1120px) {
    #main-blog>.carousel-inner,
    #main-blog>.carousel-inner>.carousel-item>img {
        width: 800px;
        height: 500px;
    }

    #main-blog>.carousel-inner>.carousel-item>.container>p {
        font-size: 1rem;
    }

    #main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more>.circle{
        width: 2.1rem;
        height: 2.1rem;
    }

    #main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more>.circle>.arrow {
        font-size: 20px;
    }

    #main-blog>.carousel-inner>.carousel-item>.container>.btn-container>.learn-more>.button-text {
        top: -5px;
        left: -30px;
        font-size: .8rem;
    }

}

@media screen and (max-width: 960px) {
    #sidebarNav ul{
        font-size: 14px;
        gap: 30px;
    }

    #main-blog>.carousel-inner,
    #main-blog>.carousel-inner>.carousel-item>img {
        width: 600px;
    }

    #main-blog>.carousel-inner>.carousel-item>.container>h2 {
        font-size: 1.5rem;
    }

    #main-blog>.carousel-inner>.carousel-item>.container>p {
        font-size: .8rem;
    }

}

@media screen and (max-width: 887px){
    footer>#footer-container>#upper-footer-part{
        flex-direction: column;
        gap: 40px;
    }

    footer>#footer-container>#upper-footer-part>nav,
    footer>#footer-container>#upper-footer-part>div{
        width: 100%;
    }

    footer>#footer-container>#upper-footer-part>div>div>article{
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    #sidebarNav {
        margin: 0;
        background: var(--font-color-hover);
        width: 18rem;
        height: 100vh;
        position: fixed;
        left: 0;
        transform: translateX(-50rem) !important;
        top: 0;
        animation: none;
        opacity: 1;
        transition: all 0.5s ease;
    }

    #menu:checked~#sidebarNav {
        transform: translateX(0rem) !important;
    }

    #burger {
        position: absolute;
        cursor: pointer;
        width: 2rem;
        height: 25px;
        left: 3rem;
        top: 3rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5000;
    }

    #burger > span {
        height: 2px;
        width: 35px;
        background-color: var(--font-color);
        transition: 0.5s;
        z-index: 1000;
    }

    #menu:checked~#burger>span {
        background-color: var(--font-color);
    }

    #menu:checked~#burger>span:nth-child(1) {
        transform: translateY(14px) rotate(45deg);
    }

    #menu:checked~#burger>span:nth-child(2) {
        opacity: 0;
    }

    #menu:checked~#burger>span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    #sidebarNav>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sidebarNav>ul>li>a,
    #sidebarNav>ul>#blog {
        justify-content: center;
        color: var(--font-color);
    }

    #sidebarNav>ul>li>a:hover,
    #sidebarNav>ul>#blog:hover>a{
        font-size: 20px;
        color: var(--primary-color);
        transition: all 0.3s ease-in-out;
    }

    #container>#disposition{
        margin: 1.5rem 0 1.5rem 0;
    }

    #container>#banniere>div{
        width: fit-content;
        margin: 3.1rem 0 0 1rem;
        padding: 1rem;
    }

    #container>#banniere>div>h2{
        font-size: calc(1.125rem + 2.7vw);
    }

    #container>#banniere>div>p,
    #main-accueil>section>div>p,
    #main-classique>section>p,
    #main-classique>#informations>p,
    #main-classique>blockquote,
    #main-classique>section>ul>li,
    #main-classique>#article-section-personnage>.article-div-personnage>p,
    #main-classique>section>.section-jojo>p {
        font-size: .9rem !important;
    }

    #main-classique>#article-section-personnage>.article-div-personnage>img{
        width: 90px;
        height: 90px;
        margin: 0 10px 10px 0;
    }

    #main-classique>blockquote>div {
        flex-direction: column-reverse;
    }

    #main-classique>blockquote>div>img,
    #main-classique>blockquote>div>div {
        width: 90%;
    }

    #main-classique>#article-section-personnage>.article-div-personnage{
        margin-bottom: 15px;
    }

    #main-classique>section>.reference>img,
    #main-classique>blockquote>div>img {
        height: 300px;
        object-position: center;
    }

    #main-classique>section>.reference>.legende{
        font-size: .7rem;
    }

    #main-classique>#informations, 
    #main-classique>section,
    #main-classique>section>ul{
        gap: 15px;
        width: 100%;
    }

    #main-classique>section>table>thead>tr>th,
    #main-classique>section>table>tbody>tr>td {
        padding: 1rem;
        font-size: .7rem;
    }

    #main-classique>section>table>thead>tr>th:nth-child(2),
    #main-classique>section>table>thead>tr>th:nth-child(5) {
        width: 20%;
    }

    #main-classique>section>table>thead>tr>th:nth-child(3),
    #main-classique>section>table>thead>tr>th:nth-child(4) {
        width: 22%;
    }

    #main-classique>section>table>thead>tr>th:nth-child(1) {
        width: 16%;
    }

    #main-accueil>section>a{
        height: 180px;
    }

    #main-form>form>div>div>input,
    #main-form>form>#section_adresse_sub>input {
        padding: 0 .75rem;
        font-size: 1rem;
    }

    #main-form>form>#form_section_message>textarea,
    #main-blog>.carousel-inner>.slide-button>i {
        padding: .4rem 0.75rem;
        font-size: 1rem;
    }

    #main-form>form>div>#form_contact_sexe>div>input,
    #main-form>form>div>.form_section_choice>div>input {
        width: .9rem;
    }

    #main-blog>.carousel-inner,
    #main-blog>.carousel-inner>.carousel-item>img {
        width: 500px;
        height: 400px;
    }

    #main-blog>.carousel-inner>.slide-button {
        width: 50px;
        height: 50px;
    }

    footer>#footer-container>#upper-footer-part>nav>h2,
    footer>#footer-container>#upper-footer-part>div>h2{
        font-size: calc(1.125rem + 1.6vw);
    }
    
    footer>#footer-container>#upper-footer-part>nav>ul>li{
        font-size: 1rem;
    }

    footer>#footer-container>#lower-footer-part{
        flex-direction: column;
        gap: 10px;
    }

    #scroll-top{
        font-size: 10px;
        padding: 8px 9px;
    }
}

@media screen and (max-width: 600px){
    #main-classique>section>table>thead>tr>th,
    #main-classique>section>table>tbody>tr>td {
        padding: .7rem;
    }

    #main-accueil{
        gap: 10px;
    }

    #main-accueil>section,
    #main-accueil>section:nth-child(2n){
        flex-direction: column-reverse;
        width: 100%;
    }

    #main-accueil>section>a,
    #main-accueil>section>div,
    #main-accueil>section:nth-child(2n)>a,
    #main-accueil>section:nth-child(2n)>div,
    #main-form>form>div>div {
        width: 100%;
    }

    #main-form>form>#section_adresse_sub>input{
        width: 95%;
    }

    #main-accueil>section>a>img,
    #main-accueil>section:nth-child(2n)>a>img{
        object-position: center;
    }

    #main-form>form>div{
        flex-direction: column;
    }

    #main-form>form>#form_section_message>textarea {
        height: 300px;
    }

    #main-form>form>div>#profil_sub_avatar{
        height: 70px;
        width: 70px;
    }

    .form_section_choice,
    .form_section_aside{
        align-items: center;
    }

    #main-blog {
        margin-top: 3rem;
    }

    #main-blog>.carousel-inner,
    #main-blog>.carousel-inner>.carousel-item>img {
        width: 400px;
        height: 300px;
    }

    #main-blog>.carousel-inner>.carousel-item>.container>h2 {
        font-size: 1.3rem;
    }

    #main-blog>.carousel-inner>.carousel-item>.container>p {
        font-size: .6rem;
    }

    #main-classique>section>div>video, 
    #main-classique>section>div>video[poster], 
    #main-classique>section>div>video>source {
        height: 300px;
    }

    aside>h2{
        margin-top: 25px;
    }

    aside>#nouveautes>li>a{
        flex-direction: column;
    }

    aside>#nouveautes>li>a>img,
    aside>#nouveautes>li>a>div{
        width: 100%;
        text-align: justify;
    }

    footer>#footer-container>#upper-footer-part>div>div>article{
        width: 100%;
        height: 270px;
    }
}

@media screen and (max-width: 500px) {
    #main-blog>.carousel-inner,
    #main-blog>.carousel-inner>.carousel-item>img {
        width: 350px;
        height: 400px;
    }

    #main-blog>.carousel-inner>.slide-button#prev-slide {
        left: -7px;
    }

    #main-blog>.carousel-inner>.slide-button#next-slide {
        right: -7px;
    }
}

/* Fin de la partie Responsive */